@import 'smart-grid.scss';

@import './fonts/font.scss';
@import '../colors/colors.scss';
@import './smart-grid.scss';

body{
  background: $background-color-secondary;
  text-align: center;
 }

 .wrapper{
   @include wrapper();
 }

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

$main_color: #212121;
$text_color:#6c6c6c;
$text_color_2: #8c8c8c;
$text_color_3: #9c9c9c;
$background_color:  #f7f7f7;
$background-color_2: #ffffff;
$background_color_3: #f9f9f9;
$border_color: #d9dee1;
$green:#43a047;
$blue:#1e88e5;
$red:#e53935;
$black:#000000;
$white: #ffff;