@import './fonts/font.scss';
@import '../colors/colors.scss';
@import './smart-grid.scss';
@import './RelatedProducts';

body{
  background: $background-color-secondary;
  text-align: center;
 }

 .wrapper{
   @include wrapper();
  }

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

