@import './App.scss';

.backdrop{
    display:none;
    @include md(display, block); 
    position:fixed;
    z-index: 90;
    background: rgba(0,0,0, .7);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}