@import 'smart-grid.scss';
@import 'colors.scss';

.cartContainer {
  @include wrapper();
  background-color: $background-color-main;
  color: $color-main;
  font-family: 'Montserrat-Regular';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.375rem;
  padding-bottom: 15px;
  margin-bottom: 15px;

  & h1 {
    padding: 1rem 0;
  }

  .row {
    @include row-flex();
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    border: 1px solid #d9dee1;

    .col {
      @include col();
      @include size(2)
    }
    .info {
      @include size(6);
      display: flex;
      text-align: left;

      & img {
        max-height: 20vh;
        @include size(4);
        align-self: center;
        width: 20vh;
        height: 20vh;
        background-color: #FF0000;
      }
      & .text {
        @include size(8);
        margin-left: 1rem;
      }
    }

    .allTotal {
      @include size(2);
      @include shift-left(10);
    }
  }
  .confirm-checkout {

  }
}
