
$color-main: #212121;
$color-gray:#6c6c6c;
$color-gray-dark: #8c8c8c;
$color-gray-light: #9c9c9c;
$background-color-main:  #f7f7f7;
$background-color-white: #ffffff;
$background-color-grey: #f9f9f9;
$background-color-main: #f4f4f4;
$background-color-lightgrey: #f5f5f5;
$background-color-secondary: #d9dee1;
$green:#43a047;
$blue:#1e88e5;
$red:#e53935;
$black:#000000;
$white:#ffffff;
$trending-first: #e9e9ec;
$trending-second: #f7f7f7;
$exclusive: #1e88e5;
