@import 'colors';
@import 'smart-grid';

.exclusive {
  display: flex;
  flex-wrap: nowrap;

  &-block {
    display: flex;
    position: relative;
    width: 50%;
    height: 500px;
    overflow: hidden;


    &:first-child {
      background-color: $trending-first;
    }

    &:last-child {
      background-color: $trending-second;
    }
  }

  &-background {
    position: absolute;
    right: -75%;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  &-product {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 3rem;
    font-family: 'Montserrat-Regular';

    > div {
      padding-bottom: 0.5rem;
    }
  }

  &-label {
    color: $exclusive;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125rem;
  }

  &-title {
    font-family: 'Montserrat-Bold';
    font-size: 2.25rem;
  }

  &-description {
    text-align: left;
    line-height: 1.71;
    color: $color-gray;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0;
    width: 212px;
    height: 46px;
    border-radius: 22.5px;
    box-shadow: 0 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    background-color: $white;
    text-decoration: none;
    font-family: 'Montserrat-Bold';
    color: $color-main;
    font-size: 1.125rem;
    line-height: 1.33;
    letter-spacing: 3.6px;
  }
}
