@import '../../styles/App.scss';

.header_wrapper{
    background: $border_color;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-grow: 1;
}

.header_logo{
    width: 185px;
    height: 22px;
    margin-top: 10px;    
}
.header_logo:hover{
    width: 185px;
    height: 22px;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0.8;
}
.header_menu{
    width: 490px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu_items{
    font-family: 'Montserrat-Light';
    list-style: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: $text_color_2;
}
.menu_items:hover{
    font-family: 'Montserrat-Bold';
    color:$main_color;
    font-weight: 700;
    border-bottom: 4px solid $main_color;
    cursor: pointer;
}
.header_search{
    width: 23px;
    height: 23px;
    margin-top: 10px;
}
