@import '../../styles/App.scss';

.items{
    @include row-flex();
    @include md(justify-content, center);
    width: 80%;
    
 
    .item{
        @include col();
        @include size(3);
        @include size-md(5);
        @include size-xs(10);
        
    }
}


.imgs {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item:hover {
    background-image: url(../../img/Featured/hover.png);
    opacity: 0.3;
}
